<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worker Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/worker/dashboard.css') }}">
</head>
<body>

<!-- Sidebar with Forms -->
<div class="sidebar">
    <div class="profile">
        <img src="{{ user.image_url if user.image_url else 'https://via.placeholder.com/80' }}" alt="User Avatar">
        <p><strong>{{ user.first_name }} | {{ user.surname }}</strong></p>
        <p>{{ user.role }}</p>
    </div>

    <!-- Form for Dashboard -->
    <form action="{{ url_for('worker.dashboard') }}" method="get">
        <button class="tab-btn" type="submit">Patients</button>
    </form>

    <!-- Form for Add New User -->
    <form action="{{ url_for('worker.add_new_user') }}" method="get">
        <button class="tab-btn" type="submit">Add Patient</button>
    </form>

     <!-- Form for Editing App Settings -->
     <form action="{{ url_for('worker.edit_settings') }}" method="get">
        <button class="tab-btn" type="submit">Actions</button>
    </form>
</div>



<!-- Main Content Area -->
<div class="main-content">
    {% block content %}
    <!-- Content will be dynamically loaded here -->
    {% endblock %}
</div>

</body>
</html>
