
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worker Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/worker/dashboard.css') }}">
</head>
<body>

<div class="sidebar">
    <div class="profile">
        <a href="{{ url_for('profile.view_worker') }}">
            {% if current_user.profile_img %}
            <img src="{{ url_for('static', filename='images/avatars/' + current_user.profile_img) }}" alt="User Avatar">
        {% else %}
            <img src="{{ url_for('static', filename='images/avatar.png') }}" alt="Default Avatar">
        {% endif %}        </a>        <p><strong>{{ current_user.name }}</strong></p>
        <p>{{ current_user.role }}</p>

        
        <form action="{{ url_for('auth.logout') }}" method="post">
            <button class="logout-btn small-btn" type="submit">Logout</button>
        </form>
    </div>

    <hr class="separator">

    <a href="{{ url_for('worker.dashboard') }}" class="tab-btn">Dashboard</a>
    <a href="{{ url_for('admin.add_new_user') }}" class="tab-btn">Add Patient</a>
    <a href="{{ url_for('admin.edit_settings') }}" class="tab-btn">Follow Ups</a>
</div>

<div class="main-content">
    {% block content %}
    
    {% endblock %}
</div>

</body>
</html>
