{% extends 'worker/dashboard.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<header>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/worker/dashboard.css') }}">
</head>
<h1>Worker Dashboard</h1>
<h2>Patients List</h2>

    <form method="GET" action="{{ url_for('patient.get_worker_patients') }}" class="search-container">
        <input type="text" name="search" placeholder="Search Patient..." value="{{ search_query }}">
        <input type="hidden" name="filter" value="{{ filter_type }}">
        <button type="submit">Search</button>
    </form>

    <div class="table-container">
        <table class="patient-table">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>DoB</th>
                    <th>Sex</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Blood Type</th>
                    <th>Allergies</th>
                    <th>Vaccinations</th>
                    <th>Worker ID</th>
                    <th>Clinician ID</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                <tr>
                    <td>{{ patient.id }}</td>
                    <td>{{ patient.first_name }} {{ patient.surname }}</td>
                    <td>{{ patient.address }}</td>
                    <td>{{ patient.email }}</td>
                    <td>{{ patient.phone }}</td>
                    <td>{{ patient.dob }}</td>
                    <td>{{ patient.sex }}</td>
                    <td>{{ patient.height }}</td>
                    <td>{{ patient.weight }}</td>
                    <td>{{ patient.blood_type }}</td>
                    <td>{{ patient.allergies }}</td>
                    <td>{{ patient.vaccination_history }}</td>
                    <td>{{ patient.worker_id }}</td>
                    <td>{{ patient.clinician_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</header>
{% endblock %}
