{% extends 'dashboard.html' %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile/form.css') }}">
    <title>Edit Profile</title>
</head>
<h1>Dashboard</h1>
<h2>Edit Profile</h2>

<div class="form-container">
    <form method="POST" action="{{ url_for('utilities.upload_avatar') }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="profile_image">Profile Image:</label>
            <input type="file" id="profile_image" name="file" accept="image/*" onchange="this.form.submit()">
        </div>
    </form>
    

    <form method="POST" action="{{ url_for('profile.update_profile') }}">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ user.name if user else '' }}" required>
        </div>

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{ user.username if user else '' }}" required readonly class="disabled-input">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" {% if not user %} required {% endif %}>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="{{ user.email if user else '' }}" required>
        </div>
        
        <button type="submit" class="save-btn">Update Profile</button>

        {% if message %}
    <div class="message {{ message_type }}">
        {{ message }}
    </div>
{% endif %}
    </form>
    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash flash-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}