h2 {
    text-align: center;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

button {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.save-btn {
    background-color: green;
    color: white;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
}

.section-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.input-group label {
    width: 100%;
    font-size: 14px;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    resize: none;
}

/* File Upload */
.file-upload {
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-upload img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Responsive */
@media (min-width: 600px) {
    .input-group label {
        width: 48%;
    }
}

.disabled-input {
    background-color: #FDFD96;
    color: #6c757d;
    border: 1px solid #ced4da;
    text-align: left;
}

.file-upload-section {
    margin-top: 20px;
}

.image-container {
    display: flex;
    flex-direction: column; /* Stack image and button vertically */
    align-items: center; /* Center items horizontally */
    gap: 10px; /* Adds space between image and button */
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%; /* Make button take full width of the div */
    text-align: center;
}

.delete-btn:hover {
    background-color: darkred;
}

.action-btn {
    padding: 10px 15px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px; /* Adds spacing between buttons */
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Send Email Button */
.send-email-btn {
    background-color: #b0b0b0; /* Grey */
    color: white;
}

.send-email-btn:hover {
    background-color: #909090; /* Darker grey on hover */
}

/* Delete Patient Button */
.delete-patient-btn {
    background-color: #e74c3c; /* Red */
    color: white;
}

.delete-patient-btn:hover {
    background-color: #c0392b; /* Darker red on hover */
}

/* Close Case Button */
.close-case-btn {
    background-color: #2ecc71; /* Green */
    color: white;
}

.close-case-btn:hover {
    background-color: #27ae60; /* Darker green on hover */
}