<!-- templates/admin/user_form.html -->
{% extends 'admin/dashboard.html' %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin/user_form.css') }}">
</head>
<h1>Admin Dashboard</h1>
<h2>{{ 'Add New User' if not user else 'Edit User' }}</h2>

<div class="form-container">
    <form method="POST" action="{{ url_for('admin.edit_existing_user', username=user.username) if user else url_for('admin.add_new_user') }}" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ user.name if user else '' }}" required>
        </div>

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{ user.username if user else '' }}" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" {% if not user %} required {% endif %}>
        </div>

        <div class="form-group">
            <label for="role">Role:</label>
            <select id="role" name="role" required>
                <option value="admin" {% if user and user.role == 'admin' %} selected {% endif %}>Admin</option>
                <option value="clinician" {% if user and user.role == 'clinician' %} selected {% endif %}>Clinician</option>
                <option value="worker" {% if user and user.role == 'worker' %} selected {% endif %}>Worker</option>
            </select>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="{{ user.email if user else '' }}" required>
        </div>

<!--
        <div class="form-group">
            <label for="profile_image">Profile Image:</label>
            <input type="file" id="profile_image" name="profile_image" accept="image/*">
        </div>
--> 

        <button type="submit" class="save-btn">{{ 'Add User' if not user else 'Update User' }}</button>
    </form>
</div>
{% endblock %}
