{% extends 'dashboard.html' %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/settings/settings.css') }}">
    <title>Admin Dashboard | Settings</title>
</head>
<h2>Settings</h2>


<div class="container">
    <h3>Twilio</h3>
    <form method="POST" action="{{ url_for('settings.update_twilio') }}">
        <div class="form-group">
            <label>Account ID:</label>
            <input type="text" name="twilio_account_id" value="{{ settings.twilio_account_id }}">
        </div>

        <div class="form-group">
            <label>Secret Key:</label>
            <input type="text" name="twilio_secret_key" value="{{ settings.twilio_secret_key }}">
        </div>

        <div class="form-group">
            <label>Phone No:</label>
            <input type="text" name="twilio_phone" value="{{ settings.twilio_phone }}">
        </div>
        
        <button type="submit" class="save-btn">Save</button>
    </form>
</div>


<div class="container">
    <h3>Mail Server</h3>
    <form method="POST" action="{{ url_for('settings.update_smtp') }}">
        <div class="form-group">
            <label>Mail Server:</label>
            <input type="text" name="smtp_server" value="{{ settings.smtp_server }}">
        </div>

        <div class="form-group">
            <label>Port:</label>
            <input type="number" name="smtp_port" value="{{ settings.smtp_port }}">
        </div>

        <div class="form-group">
            <label>Username:</label>
            <input type="text" name="smtp_username" value="{{ settings.smtp_username }}">
        </div>

        <div class="form-group">
            <label>Password:</label>
            <input type="password" name="smtp_password" value="{{ settings.smtp_password }}">
        </div>

        <div class="form-group">
            <label>Sender Address:</label>
            <input type="email" name="smtp_sender" value="{{ settings.smtp_sender }}">
        </div>

        <div class="form-group">
            <label>Enable TLS:</label>
                <input type="checkbox" name="smtp_tls" {% if settings.smtp_tls %}checked{% endif %}>
        </div>

        <button type="submit" class="save-btn">Save</button>
    </form>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
            <div class="flash flash-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
{% endwith %}
{% endblock %}
