
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #f4f4f4;
}

.sidebar {
    width: 250px; 
    background: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center; /* Ensures inner elements align properly */
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile p {
    margin: 5px 0;
}

.separator {
    width: 95%;  
    margin: 15px auto;  
    border: none;  
    height: 2px;  
    background-color: darkgray;
    display: block; 
}

.sidebar form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.tab-btn {
    width: 80%;
    display: block;
    text-align: center;
    padding: 12px;
    margin: 10px auto;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    box-sizing: border-box; 
    text-decoration: none; 
}

.tab-btn:hover {
    background-color: #2980b9;
}

.small-btn {
    font-size: 12px;
    padding: 5px 10px;
    margin-top: 5px;
    width: 60px; 
    height: auto; 
    border: none;
    background-color: #e74c3c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;  
    text-align: center; 
    white-space: nowrap; 
    margin: auto;
}

.small-btn:hover {
    background-color: #c0392b;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    overflow-y: auto;
}

