/* General Styles */


.container {
    max-width: 900px;
    width: 100%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

button {
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.save-btn {
    background-color: green;
    color: white;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
}

.section-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.input-group label {
    width: 100%;
    font-size: 14px;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    resize: none;
}

/* File Upload */
.file-upload {
    display: flex;
    align-items: center;
    gap: 10px;
}

.file-upload img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Responsive */
@media (min-width: 600px) {
    .input-group label {
        width: 48%;
    }
}